<f:be.container>
    <f:be.pageRenderer includeCssFiles="{

        }" includeJsFiles="{
            1: '../typo3conf/ext/cf_beskin/Resources/Public/Ace/src-min-noconflict/ace.js'
        }" loadJQuery="1"
    />

    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div class="typo3-docheader-functions">
                <div class="left"></div>
                <div class="right"></div>
            </div>

            <div class="typo3-docheader-buttons">
                <div class="left"></div>
                <div class="right"></div>
            </div>
        </div>

        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <h1><f:render section="headline" /></h1>
                <f:render section="content" />
            </div>
        </div>

        <script>
            var editor = ace.edit("file_content");
            editor.setTheme("ace/theme/chaos");
            editor.getSession().setMode("ace/mode/css");
            editor.setShowPrintMargin(true);

            TYPO3.jQuery('#save_content').on('click', function(evt) {
                evt.preventDefault();
                save();
            });

            function load() {
                TYPO3.jQuery.ajax(TYPO3.settings.ajaxUrls['cf_beskin::loadStylesheet'], {
                    data: {}
                }).done(function(result) {
                    editor.setValue(result);
                    editor.clearSelection();
                    editor.focus();
                }).fail(function(result) {
                    top.TYPO3.Notification.error('Ooops!', 'There was an error loading the stylesheet. Please check your JavaScript console for further information.');
                });
            }

            function save() {
                TYPO3.jQuery.ajax(TYPO3.settings.ajaxUrls['cf_beskin::saveStylesheet'], {
                    data: {
                        content: editor.getValue()
                    }
                }).done(function(result) {
                    top.TYPO3.Notification.success('Done.', 'Your changes have been successfully saved. You should refresh this page for the changes to take effect.');
                    load();
                }).fail(function(result) {
                    top.TYPO3.Notification.error('Ooops!', 'There was an error saving the stylesheet. Please check your JavaScript console for further information.');
                });
            }

            load();

        </script>
    </div>
</f:be.container>