<f:layout name="Backend/Default" />

<!-- [ SECTION: headline ] ------------------------------------------------- -->
<f:section name="headline">
    <h1>
        <span>[codeFareith] Backend Skin</span>
        <small>v1.0.4</small>
    </h1>
</f:section>
<!-- ----------------------------------------------------------------------- -->



<!-- [ SECTION: content ] -------------------------------------------------- -->
<f:section name="content">
    <f:flashMessages />

    <f:form action="save">
        <div class="form-group">
            <label for="editor">{f:translate(key: 'file_content')}</label>
            <pre id="editor" class="ace-editor" style="height: 500px;">{fileContent}</pre>
        </div>

        <div class="btn-group">
            <button id="save" class="btn btn-primary" name="save">{f:translate(key: 'save')}</button>
        </div>
    </f:form>
</f:section>
<!-- ----------------------------------------------------------------------- -->



<!-- [ SECTION: script ] --------------------------------------------------- -->
<f:section name="script">
    <script>
        (function() {
            'use strict';

            var editor;

            ace.config.set('basePath', '{aceBasePath}');

            function initEditor() {
                editor = ace.edit('editor');
                editor.setTheme('ace/theme/chaos');
                editor.getSession().setMode('ace/mode/css');
                editor.setShowPrintMargin(true);

                TYPO3.jQuery('#save').on('click', save);

                load();
            }

            function load() {
                TYPO3.jQuery.ajax(
                    TYPO3.settings.ajaxUrls['cf_beskin::loadStylesheet'],
                    {
                        data: {}
                    }
                ).done(
                    function(result) {
                        editor.setValue(result);
                        editor.clearSelection();
                        editor.focus();
                    }
                ).fail(
                    function(result) {
                        console.log(result);
                        top.TYPO3.Notification.error(
                            'Oooops!',
                            'There was an error when trying to load the stylesheet. Please check the JavaScript console for further information.'
                        );
                    }
                );
            }

            function save(evt) {
                if(evt)
                    evt.preventDefault();

                TYPO3.jQuery.ajax(
                    TYPO3.settings.ajaxUrls['cf_beskin::saveStylesheet'],
                    {
                        data: {
                            content: editor.getValue()
                        }
                    }
                ).done(
                    function(result) {
                        top.TYPO3.Notification.success(
                            'Done.',
                            'Your changes have been saved successfully. You should refresh this page for the changes to take effect.'
                        );
                        load();
                    }
                ).fail(
                    function(result) {
                        console.log(result);
                        top.TYPO3.Notification.error(
                            'Oooops!',
                            'There was an error when trying to load the stylesheet. Please check the JavaScript console for further information.'
                        );
                    }
                );
            }

            initEditor();

        })();
    </script>
</f:section>
<!-- ----------------------------------------------------------------------- -->